<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>交互作用 Interaction</title>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/desc.css">
    </head>
    <body>
        <!-- head -->
        <div class="header">
            <div class="header-left" onclick="location.href='/home'">
                <span class="welcome">交互作用</span>
                <span class="logo">Interaction</span>
            </div>
            <div class="header-right">
                <div class="header-right-contain">教學步驟<span>：前置準備</span></div>
            </div>
        </div>
        <div class="header-background"></div>
        <!-- head END-->
        <div class="main-background">
            前置準備：
            <br>
            <br>
            1.具備<span>麥克風</span>的電腦或<span>外接耳機麥克風</span>、<span>網路攝影機</span>。
            <br>
            2.安裝<span>&nbsp;OBS&nbsp;</span>串流軟體。
            <br>
            <br>
            <div class="main-img">
                <img src="img/steps.png">
            </div>
            <br>
            <br>
            <br>
            <br>
            <div>OBS步驟：</div>
            <br>
            <div class="main-img">
                <img src="img/desc-00.png">
            </div>
            <div class="main-contain-background">
                <div class="main-contain">
                    <div class="main-img-detail-background">
                        <div class="main-img-detail">
                            <img  src="img/desc-01.png">
                        </div>
                        <div class="main-img-detail">
                            <img src="img/desc-02.png">
                        </div>
                        
                    </div>
                    <div>STEP 1</div>
                    1.使用 OBS (Open Broadcaster Software) 進行直播。
                    <br>
                    <br>
                    2.打開 OBS > <span>設定</span>後，選擇左側的<span>串流</span>選項。
                </div>
                <div class="main-contain">
                    <div class="main-img-detail-background">
                        <div class="main-img-detail">
                            <img src="img/desc-03.png">
                        </div>
                    </div>
                    <div>STEP 2</div>
                    3.從<span>服務</span>的下拉列表中選擇<span>自訂</span>。
                    <br>
                    <br>
                    4.將登入會員後，進入直播間得到的<span>伺服器網址</span>以及<span>串流金鑰</span>，複製到 OBS 中<span>伺服器</span>、<span>串流金鑰</span>框中後點擊<span>套用</span>。
                </div>
                <div class="main-contain">
                    <div class="main-img-detail-background">
                        <div class="main-img-detail">
                            <img src="img/desc-04.png">
                        </div>
                    </div>
                    <div>STEP 3</div>
                    5.最後按下<span>開始串流</span>，於是就進行串流直播了。
                    <br>
                    <br>
                    6.回到網頁。
                </div>
            </div>
        </div>
        <footer>Copyright © 2023 Interaction&nbsp;
            <a href="https://github.com/jokersaysjoke/interaction">
                <img src="img/github.png" height="22px" cursor="pointer">
            </a>
        </footer>
        <script src="/js/desc.js"></script>
    </body>
</html>