<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>交互作用</title>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/user.css">
        <link rel="stylesheet" href="/css/live.css">
        <link rel="stylesheet" href="/css/socketio.css">
    </head>
    <body>
        <!-- Register -->
        <div class="register-window">
            <div class="user-login">
                <form>
                    <input id="user-login-id" class="user-login-input" placeholder="Username or email address">
                    <input id="user-login-pw" class="user-login-input" placeholder="Password" type="password">
                </form>
                <input type="submit" id="login-btn" class="btn" value="Sign in" onclick="signIn()">
            </div>
            <div class="register">
                <form>
                    <input id="user-register-username" class="register-input" placeholder="Username">
                    <input id="user-register-email" class="register-input" placeholder="Email">
                    <input id="user-register-password" class="register-input" placeholder="Password" type="password">
                </form>
                <input type="submit" id="register-btn" class="btn" value="Register" onclick="signUp()">    
            </div>
            <br>
            <br>
            <div class="login-callout">
                <span class="have-account">還沒有帳戶?</span>
                <span class="click-status">點此註冊</span>
            </div>
            <br>
            <br>
            <div class="flash-alert"></div>
        </div>
        <!-- 遮罩 -->
        <div class="register-window-background"></div>
        <!-- Register END -->
        <div class="header">
            <a class="welcome" href="/" onclick="location.href='/'">首頁</a>
            <div class="account-status"></div>
        </div>
        <div class="header-background"></div>
        <!-- streaming -->
        <div class="background">
            <div class="main-background">
                <div class="main">
                    <div class="setting">
                        <div class="live-window">
                            <div class="live-video-window-background">
                                <video type="application/x-mpegURL" class="video" id="video" width="100%" controls autoplay>#Live-window</video>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="main main-ignore">
                    <div class="item5 live-window">
                        <span>請將此串流網址貼到推流軟體&nbsp;:&nbsp;</span>
                        <div class="streamURL" onclick="copyStreamURL()">rtmp://jokersaysjoke.online/live</div>
                        <span class="copyURL" onclick="copyStreamURL()">&nbsp;&nbsp;(點擊複製)</span>
                    </div>
                </div>

                <div class="main setting-detail-background main-ignore" >
                    <div class="setting-detail ">
                        <div class="setting-detail-head">影片標題<span class="dontnull"> (*必填)</span></div>
                        <textarea  class="setting-detail-type" placeholder="字數請限制在99字以內" rows="4" cols="33" ></textarea >
                            
                    </div>

                    <div class="setting-detail main-ignore">
                        <div>串流金鑰<span class="copyKEY" onclick="copyStremKEY()">(點擊複製)</span></div>
                        <div class="streamkey" onclick="copyStremKEY()"></div>
                        <div>請將此金鑰貼到推流軟體</div>

                    </div>

                    <div class="setting-detail">
                        <div id="toLiveStream" class="to-Live-Stream">Publish</div>
                        <div class="close-live">QUIT</div>

                    </div>
                    
                </div>
                <!-- video-detail -->
                <div class="video-head"></div>
                <div class="video-detail-background">
                    <div class="video-detail">
                      <div class="video-creator-pic"></div>
                      <div class="video-creator"></div>
                      <div class="video-date-background">開始日期：<span class="video-date"></span></div>
                    </div>
            
                    <div class="video-view">
                      <div class="video-type">類型：<span class="video-type-live">※正在直播</span></div>
                      <div class="video-count">觀看次數：次</div>
                      <div class="video-concurrent"></div>
                    </div>
                </div>
                <!-- video-detail END -->
                <div class="item1">END Stream</div>

            </div>

            <div class="main-background chat-background">
                <div class="live-chatroom-background">
                    <div class="live-chatroom">
                        <div id="messages" class="messages"></div>
                    </div>
                    <form id="form" action="">
                        <input id="input" placeholder="HOST：" autocomplete="off" />
                    </form>
                </div>
            </div>

        </div>
        
        <!-- streaming END-->
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/live.js"></script>
        <script src="/js/socketio.js"></script>
        <script src="/js/hls.js"></script>
    </body>
</html>