.header{
    position: fixed;
    background-color: #121212;
}
.header-right{
    justify-content: flex-end;
}
.header-right-contain{
    font-size: 21px;
    color: #F0047F;
}
.header-right-contain>span{
    color: #fff;
}
.main-background, .main-contain-background{
    font-size: 30px;
    margin: 30px auto;
    max-width: 999px;
    width: 100%;
}
.main-background>span, .main-contain>span{
    color: #BB86FC;
}
.main-img>img{
    width: 100%;
}
.main-img-detail-background{
    display: flex;
    max-width: 300px;
    width: 100%;
    padding: 10px;
}
.main-contain-background{
    margin: -33px auto;
    display: flex;
    justify-content: space-around;
}
.main-img-detail{
    overflow: hidden;
    width: 155px;
    height: 155px;
}
.main-img-detail>img{
    width: 100%;
    object-fit: cover;
}
.main-contain{
    width: 33%;
    line-height: 30px;
    font-size: 18px;
    padding: 22px;
}
.main-contain>div{
    color: #F0047F;
    font-size: 21px;
    display: flex;
    justify-content: center;
    margin: 20px auto 10px auto;
}
footer{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    max-width: 999px;
    width: 100%;
    
}
.copyright{
    align-items: center;
    bottom: 0;
    height: calc(11vh);
    font-size: 16px;
}

