body{
    display: flex;
}

.video-preview-background{
    position: relative;
    background-color: #202020;
    margin: 100px auto;
    max-width: 1200px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.video-preview{
    width: auto;
    height: 200px;
    background-color: #BB86FC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 44px;
}
.create{
    width: 77px;
    height: 44px;
    border-radius: 15px;
    position: fixed;
    background-color: #03DAC5;
    color: #202020;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    cursor: pointer;
    display: none;
}

.createDispay{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1200px){
    .video-preview-background{
    grid-template-columns: repeat(2,1fr);

    }
}