.video-preview-background{
    position: relative;
    margin: 30px auto;
    max-width: 999px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.video-preview{
    width: auto;
    height: 200px;
    background-color: #BB86FC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 44px;
}
.video-detail{
    margin-top: 5px;
    color: #fff;
    display: flex;
    font-size: 18px;
    width: 210px;
    height: 130px;
    overflow: hidden;
}
.video-account-pic-background{
    width: 50px;
    margin-top: 10px;
}
.video-account-pic{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    
    background-size: cover;
    background-position: center;
}
.video-account-img{
    max-height: 100%;
}
.video-title{
    margin: 10px;
    
}
.video-title-head{
    max-width: 160px;
    max-height: 45px;
    cursor: pointer;
    white-space: pre-line;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video-creator, .video-status-live-background{
    margin-top: 10px;

}
.video-status-live{
    background-color: red;
    border-radius: 3px;
    padding: 4px;
}
.video-view-count, .video-status-live-rate, .video-creator{
    color: gray;
}
.video-view-count, .video-status{
    /* display: none; */
}
.create{
    width: 77px;
    height: 44px;
    border-radius: 15px;
    position: fixed;
    background-color: #03DAC5;
    color: #202020;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    cursor: pointer;
    display: none;
}