.background{
    margin: 20px auto;
    display: flex;
    max-width: 1000px;
    width: 90%;
    height: 80vh;
}
.main-background{
    display: block;
    width: 100%;
}
.main{
    display: flex;
}
.live-streaming-video-background{
    margin: 70px auto;
    flex: 4;
    border-radius: 5px;
    background-color: #BB86FC;
    display: flex;

}
.setting{
    margin-top: 50px;
    flex: 4;
    border-radius: 5px;
    display: flex;
}
.setting-detail-background{
    color: gray;
}
.setting-detail{
    background-color: #202020;
    margin: 5px 10px;
    width: 100%;
    border-radius: 5px;
    padding: 22px;
}

.setting-detail-type{
    margin: 11px auto;
    background-color: #121212;
    color: #fff;
    font-size: 18px;
}
.streamkey{
    margin: 20px auto;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.copyKEY{
    margin-left: 10px;
    color: gray;
    cursor: pointer;
}
.live-window{
    background-color: #BB86FC;
    margin: 5px 10px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 5px;
}
.live-video-window-background,
.close-live, 
.streamKey,
.item5{
    width: 100%;
    border-radius: 5px;
    color: #fff;
    background-color: #202020;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.close-live{
    height: 50%;
    color: red;
    border: 1px solid red;
    cursor: pointer;
}
.to-Live-Stream{
    width: 100%;
    height: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #200220;
    background-color: #03DAC5;
    border: 1px solid #03DAC5;
    cursor: pointer;
    border-radius: 5px;
}
.live-chatroom-background{
    background-color: #BB86FC;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 55px 10px;
    position: relative;
    flex: 2;
    max-width: 500px;
    max-height: 500px;
    height: 100%;

}
.live-chatroom, .live-streaming-video{
    position: relative;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    background-color: #202020;
}

.live-streaming-video{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.item5>span{
    font-size: 17px;
    color: gray;
}
.streamURL{
    color: #fff;
    cursor: pointer;
    font-size: 22px;

}
.copyURL{
    cursor: pointer;
}
.chat-background{
    max-width: 33%;
    display: none;
}
.client-chat{
    max-width: 33%;
}
.item1{
    margin: 10px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #202020;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: red;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.video-head{
    margin: 10px;
    color: #fff;
    font-size: 22px;
    display: none;
}
.video-detail-background{
    background-color: #202020;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 4px;
    display: none;
}
.video-detail{
    margin: 10px;
    display: flex;
    align-items: center;
}
.video-creator-pic{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
}
.video-creator{
    margin: auto 10px;
}
.video-date-background{
    margin-left: auto;
}
.video-type-live{
    background-color: red;
    border-radius: 3px;
    padding: 4px;
}
.video-view{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: auto;
    font-size: 17px;

}