#recording-detail-body {
    display: none;
}

.main-background {
    margin: 30px auto;
    width: 999px;
}

.member-content {
    width: 100%;
    margin: 22px 0;

}

.member-img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    overflow: hidden;

    /* img */
    background-size: cover;
    background-position: center;
}

.member-img:hover {
    opacity: 0.8;
}

img {
    max-height: 100%;
}

.member-content-title {
    margin: 0 11px;
    font-size: 22px;
    flex: 1;
    text-align: right;
    letter-spacing: 1px;
}

.input {
    margin: 0 11px;
    letter-spacing: 2px;
    padding-left: 11px;
    flex: 1;
    height: 44px;
    border-radius: 11px;
    cursor: pointer;
    text-align: center;
    font-style: italic;
}

.edit {
    font-size: 22px;
    color: #F0047F;
    margin: 0 11px;
    flex: 1;
    letter-spacing: 1px;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input:focus::-webkit-input-placeholder {
    opacity: 0;
}

p {
    margin: 0 88px;
    text-align: center;
    flex: 1;
    letter-spacing: 1px;
}

#file-uploader {
    display: none;
}

.pf-top {
    border-bottom: gray 0.5px solid;

}

.recording-detail {
    background-color: #202020;
    color: gray;
    font-size: 14px;
    border: gray 0.5px solid;
}

video {
    height: 70px;
}

.video-ct-rw {
    height: 90px;
    border-bottom: gray 0.5px solid;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-no {
    display: flex;
    align-items: center;
}

.pf-colum {
    width: 100px;
    color: gray;
    margin: 10px 0;
}

.pf-colums {
    width: 100px;
    color: #fff;
    margin: 10px 0;
}

.pf-video {
    margin-left: 10px;
    width: 500px;
    color: gray;
}

.pf-date {
    width: 150px;
}
#video-title {
    color: #fff;
    margin: 20px;
    width: 330px;
    word-wrap: break-word;
}