/* socket.io */
#form { 
    margin: 7px auto 0;
    height: 2rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}
    
#input {
    color: #fff;
    border: none; 
    border-bottom: 1px solid #fff;
    font-size: 14px;
    background-color: #121212;
    flex-grow: 1; 
    width: 90%;
}
#input:focus { 
   outline: none; 
}
#messages { 
    width: 100%;
    max-height: 100%;
    position: absolute;
    list-style-type: none; 

    margin: 0; 
    padding: 0; 
    bottom: 11px;
    overflow-y: auto; 
    word-wrap:break-word;

}

#messages::-webkit-scrollbar {
    display: none;
}
/* socket.io <END> */

.video-creator-pic{

    background-size: cover;
    background-position: center;
}

.video-creator-img{
    max-height: 100%;
}
