/* socket.io */
#form { 
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex; 
    height: 2rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}
    
#input {
    color: #fff;
    border: none; 
    padding: 0 1rem; 
    background-color: #303030;
    flex-grow: 1; 
    border-radius: 2rem; 
}
#input:focus { 
   outline: none; 
}
#messages { 
    max-height: 92%;
    position: absolute;
    list-style-type: none; 
    max-width: 100%;
    margin: 0; 
    padding: 0; 
    bottom: 33px;
    overflow-y: auto; 
}

#messages > li { 
    padding: 0.5rem 1rem; 
}

.chat-content{
    word-wrap:break-word;
}

#messages::-webkit-scrollbar {
    display: none;
}
